body {
  background-color: #212121;
  font-size: 18px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

noscript > div {
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  background-color: red;
  display: block;
  padding: 25px 10px;
  margin: 0;
  text-align: center;
}

.btn {
  border: 0;
  border-radius: 0;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

.navbar {
  background-color: #212121;
  border: none;
  border-radius: 0;
  margin: 10px 0;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.navbar .btnDoe {
  padding: 6px 20px !important;
  font-size: 16px;
  background-color: #04cef1;
  color: #000;
}

.navbar .btnAjuda {
  padding: 6px 20px !important;
  font-size: 16px;
  background-color: #ffee00;
  color: #000;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}

.container .form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container input {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 0;
  font-size: 18px;
  background-color: #fff;
  color: #212121;
  margin-bottom: 0.5rem;
}

.container .btnSave {
  background-color: #00781c;
  color: white;
}
.container .btnShare {
  background-color: #00781c;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
}

.container canvas {
  display: block;
  width: 70%;
  margin: 0 auto 1rem;
}

.container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  row-gap: 0.5rem;
}

.container footer a {
  color: #fff;
  text-decoration: none;
  line-height: 1.2rem;
  
  display: flex;
  align-items: center;
}

.container footer a img {
  height: 1.2rem;
  margin-right: .5rem;
}
